
# Created by https://www.gitignore.io/api/c++,windows,visualstudio

### VisualStudio Patch ###
# By default, sensitive information, such as encrypted password
# should be stored in the .pubxml.user file.


# End of https://www.gitignore.io/api/c++,windows,visualstudio
MakeNoDifference/MakeNoDifference/MakeNoDifference.vcxproj
MakeNoDifference/MakeNoDifference/MakeNoDifference.vcxproj
MakeNoDifference/MakeNoDifference/MakeNoDifference.vcxproj
*.vcxproj
*.vcxproj
*.ipch
*.log
*.tlog
*.db
*.suo
*.pdb
*.ilk
*.sqlite